{<<"app">>,<<"jsx">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"a streaming, evented json parsing toolkit">>}.
{<<"files">>,
 [<<"src/jsx.app.src">>,<<"CHANGES.md">>,<<"LICENSE">>,<<"rebar.config">>,
  <<"rebar.config.script">>,<<"src/jsx.erl">>,<<"src/jsx_config.erl">>,
  <<"src/jsx_config.hrl">>,<<"src/jsx_consult.erl">>,
  <<"src/jsx_decoder.erl">>,<<"src/jsx_encoder.erl">>,
  <<"src/jsx_parser.erl">>,<<"src/jsx_to_json.erl">>,
  <<"src/jsx_to_term.erl">>,<<"src/jsx_verify.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[]}.
{<<"name">>,<<"jsx">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"2.10.0">>}.
