{<<"app">>,<<"rebar3_hex">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Hex.pm plugin for rebar3">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/rebar3_hex.app.src">>,<<"src/rebar3_hex.erl">>,
  <<"src/rebar3_hex.hrl">>,<<"src/rebar3_hex_client.erl">>,
  <<"src/rebar3_hex_config.erl">>,<<"src/rebar3_hex_cut.erl">>,
  <<"src/rebar3_hex_docs.erl">>,<<"src/rebar3_hex_error.erl">>,
  <<"src/rebar3_hex_file.erl">>,<<"src/rebar3_hex_io.erl">>,
  <<"src/rebar3_hex_key.erl">>,<<"src/rebar3_hex_owner.erl">>,
  <<"src/rebar3_hex_publish.erl">>,<<"src/rebar3_hex_repo.erl">>,
  <<"src/rebar3_hex_results.erl">>,<<"src/rebar3_hex_retire.erl">>,
  <<"src/rebar3_hex_revert.erl">>,<<"src/rebar3_hex_search.erl">>,
  <<"src/rebar3_hex_user.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/tsloughter/rebar3_hex">>}]}.
{<<"name">>,<<"rebar3_hex">>}.
{<<"requirements">>,
 [{<<"hex_core">>,
   [{<<"app">>,<<"hex_core">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"0.7.1">>}]},
  {<<"verl">>,
   [{<<"app">>,<<"verl">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.0.2">>}]}]}.
{<<"version">>,<<"6.11.3">>}.
