{minimum_otp_vsn, "18"}.

{erl_opts, [
    debug_info,
    {platform_define, "^2[3-9]", 'POST_OTP_22'},
    {platform_define, "^20", 'POST_OTP_19'},
    {platform_define, "^19", 'POST_OTP_18'},
    {platform_define, "^[2-9]", 'POST_OTP_18'}
]}.

{project_plugins, [covertool, {rebar3_hank, "~> 0.3.0"}]}.

{deps, [{hex_core, "0.7.1"}, {verl, "1.0.2"}]}.

{profiles, [
    {test, [
        {extra_src_dirs, ["test/support"]},
        {overrides, [{override, rebar3,[{deps, [{erlware_commons, "1.3.1"}]}]}]},
        {deps, [{hex_core, "0.7.1"},
                {erlware_commons, "1.3.1"}, {elli, "3.3.0"},
                {jsone, "1.5.3"}, {meck, "0.9.0"}]},
        {erl_opts, [nowarn_export_all]}
    ]}
]}.

{hank,
 [{ignore,
   [{"test/**/*.erl", unnecessary_function_arguments}]}]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.

{alias, [{test, [{ct, "--cover"}, {cover, "-v"}]}]}.
