.DS_Store
generated.config
generated.conf
ebin/*
.eunit
src/conf_parse.erl
deps
cuttlefish
*.sublime-project
*.sublime-workspace
log
.local_dialyzer_plt
src/cuttlefish_duration_parse.erl
erln8.config
test/fixtures/escript_prune_test/generated.config/
_build/
.rebar3/
erl_crash.dump
rebar3.crashdump
reabr.lock
