{require_otp_vsn, "21"}.

{erl_opts, [debug_info, warn_untyped_record, nowarn_export_all]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.

{escript_emu_args, "%%! -escript main cuttlefish_escript +A 0\n"}.
{escript_incl_apps, [getopt]}.

{deps, [{getopt, {git, "https://github.com/emqx/getopt.git", {tag, "v1.0.2"}}}]}.

{profiles,
    [{test, [{deps, [bbmustache]}]},
     {escript, [{post_hooks, [ {"(linux|darwin|solaris|freebsd|netbsd|openbsd)", escriptize, "cp _build/escript/bin/cuttlefish ./"}
                             , {"win32", escriptize, "copy _build\\escript\\bin\\cuttlefish ."}]}]}
    ]}.

{provider_hooks, [
    {pre, [{compile, {neotoma, compile}}]}
]}.

%% escriptize in another profile (not default) so escript can be built
%% even when cuttlefish is used as a dependency in a wrapper project
%% {post_hooks, [ {"(linux|darwin|solaris|win32)", app_compile, "make escript"}
%%              , {"(freebsd|netbsd|openbsd)", app_compile, "gmake escript"}]}.

{plugins, [rebar3_neotoma_plugin]}.

