{deps, []}.

{edoc_opts, [{preprocess, true}]}.
{erl_opts, [warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_obsolete_guard,
    debug_info,
    {parse_transform}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
    deprecated_function_calls, deprecated_functions]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

%% 测试配置
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{ct_opts, [
    {sys_config, ["test/ct/test.config"]},
    {readable, true},
    {verbosity, 1}
]}.
{ct_readable, true}.

%% 覆盖率配置
{cover_opts, [
    verbose,
    {min_coverage, 80},
    {coverdata, "test/coverage/ct.coverdata"}
]}.

%% 测试目录配置
{ct_extra_params, "-pa test/eunit -pa test/ct"}.

{profiles,
    [{test,
        [{deps,
            [{emqx_ct_helpers, {git, "https://gitee.com/fastdgiot/emqx-ct-helpers", {tag, "1.2.2"}}},
                {emqtt, {git, "https://gitee.com/fastdgiot/emqtt", {tag, "1.2.3"}}}]},
         {erl_opts, [debug_info, {parse_transform}, {d, 'TEST'}]},
         {cover_enabled, true}
        ]}
    ]}.
