.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/
rel/example_project
.concrete/DEV_MODE
.rebar
cover/
ct.coverdata
eunit.coverdata
logs/
minirest.d
.erlang.mk/
_build/
rebar.lock
rebar3.crashdump
.rebar3/