%%% -*-mode:erlang;coding:utf-8;tabidth,:4;c-basic-offset:4;indent-tabs-mode:()-*-
%%% ex: set ft=erlang fenc=utf-8 sts=4 ts=4 sw=4 et:
%%%
[
    {gen_rpc, [
        {default_client_driver, ssl},
        {tcp_server_port, false},
        {tcp_client_port, false},
        {ssl_server_port, 5370},
        {ssl_client_port, 5370},
        {keepalive_interval, 60},
        {ssl_server_options, [
            {certfile, "./priv/ssl/gen_rpc_master@127.0.0.1.cert.pem"},
            {keyfile, "./priv/ssl/gen_rpc_master@127.0.0.1.key.pem"},
            {cacertfile, "./priv/ssl/ca.cert.pem"}
        ]},
        {ssl_client_options, [
            {certfile, "./priv/ssl/gen_rpc_master@127.0.0.1.cert.pem"},
            {keyfile, "./priv/ssl/gen_rpc_master@127.0.0.1.key.pem"},
            {cacertfile, "./priv/ssl/ca.cert.pem"}
        ]},
        {client_config_per_node, {internal, #{
            'gen_rpc_slave@127.0.0.1' => 5372
        }}}
    ]},
    {sasl, [
        {errlog_type, error},
        {error_logger_mf_dir, false}
    ]}
].
