[
 {
   elvis,
   [
    {config,
     [#{dirs => [
                 "src",
                 "src/collectors",
                 "src/collectors/vm",
                 "src/contrib",
                 "src/formats",
                 "src/metrics"
                ],
        filter => "*.erl",
        rules => [
                  {elvis_style, line_length,
                   #{limit => 80, skip_comments => false}},
                  {elvis_style, invalid_dynamic_call,
                   #{ignore => [
                                prometheus_misc,
                                prometheus_registry,
                                prometheus_sup,
                                prometheus_instrumenter
                               ]}},
                  {elvis_style, god_modules, #{limit => 51}}
                 ],
        ruleset => erl_files
       },
      #{dirs => [
                 "src/model"
                ],
        filter => "prometheus_model_helpers.erl",
        rules => [
                  {elvis_style, line_length,
                   #{limit => 80}},
                  {elvis_style, invalid_dynamic_call,
                   #{ignore => [
                                %% FIXME: why create_mf calls collect_metrics??
                                prometheus_model_helpers 
                               ]}},
                  {elvis_style, god_modules, #{limit => 40}}
                 ],
        ruleset => erl_files
       },
      #{dirs => [
                 "test/eunit",
                 "test/eunit/format",
                 "test/eunit/contrib",
                 "test/eunit/metric"
                ],
        filter => "*.erl",
        rules => [
                  {elvis_style, line_length,
                   #{limit => 90}},
                  {elvis_style, invalid_dynamic_call,
                   #{ignore => [
                               ]}},
                  {elvis_style, god_modules, #{limit => 40}},
                  %% looks like eunit generates underscored vars
                  {elvis_style, variable_naming_convention, #{regex => "^([A-Z_][0-9a-zA-Z_]*)$"}},
                  {elvis_style, dont_repeat_yourself, #{min_complexity => 200}}
                 ],
        ruleset => erl_files
       },
      #{dirs => ["."],
        filter => "Makefile",
        ruleset => makefiles
       },
      #{dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
       },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 }
].
