.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
rebar3.crashdump
ebin
_rel/*
.concrete/DEV_MODE
.rebar
.erlang.mk/
etc/plugins/
data/configs/*.config
data/configs/*.conf
data/configs/*.args
rel/
log/
ct/logs/*
.DS_Store
.idea/
*.d
*.iml
vars.config
erlang.mk
_build
rebar.lock
test/
_checkouts
_packages
deploy/docker/tmp
.vscode/settings.json
