{plugins,[]}.
{edge_relx_overlay,[]}.
{edoc_opts,[{preprocess,true}]}.
{erl_opts,[warn_unused_vars,warn_shadow_vars,warn_unused_import,
           warn_obsolete_guard,no_debug_info,compressed]}.
{overrides,[{add,[{erl_opts,[no_debug_info,compressed]}]}]}.
{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,warnings_as_errors,
              deprecated_functions]}.
{cover_enabled,true}.
{cover_opts,[verbose]}.
{cover_export_enabled,true}.
{post_hooks,[{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",compile,
              "./post-compile.sh"},
             {"win32",compile,"post-compile.cmd"}]}.
{profiles,
    [{dgiot,
         [{deps,
              [{dgiot,
                   {git,"https://hub.fastgit.org/dgiot/dgiot",
                       {tag,"release-4.2"}}}]},
          {relx,
              [{include_src,false},
               {extended_start_script,false},
               {generate_start_script,false},
               {sys_config,false},
               {vm_args,false},
               {release,
                   {dgiot,"release-4.2"},
                   [kernel,sasl,crypto,public_key,asn1,syntax_tools,ssl,jsx,
                    os_mon,inets,compiler,runtime_tools,cuttlefish,dgiot,
                    {mnesia,load},
                    {ekka,load},
                    {observer,load}]},
               {overlay,
                   [{mkdir,"etc/"},
                    {mkdir,"log/"},
                    {mkdir,"data/"},
                    {mkdir,"data/mnesia"},
                    {mkdir,"data/configs"},
                    {mkdir,"data/scripts"},
                    {template,"bin/dgiot_env","bin/dgiot_env"},
                    {template,"bin/dgiot","bin/dgiot"},
                    {template,"bin/dgiot_ctl","bin/dgiot_ctl"},
                    {template,"bin/dgiot.cmd","bin/dgiot.cmd"},
                    {template,"bin/dgiot_ctl.cmd","bin/dgiot_ctl.cmd"},
                    {copy,"{{output_dir}}/../../conf/plugins","etc/"},
                    {template,"{{output_dir}}/../../conf/dgiot.conf",
                        "etc/dgiot.conf"},
                    {template,"data/loaded_plugins.tmpl",
                        "data/loaded_plugins"},
                    {template,"data/loaded_modules.tmpl",
                        "data/loaded_modules"},
                    {copy,"bin/nodetool","bin/nodetool"},
                    {copy,"{{output_dir}}/../../conf/schema/dgiot.schema",
                        "releases/{{rel_vsn}}/"},
                    {copy,"bin/install_upgrade_escript",
                        "bin/install_upgrade_escript"},
                    {template,
                        "{{output_dir}}/../../lib/dgiot/etc/{{vm_args_file}}",
                        "etc/vm.args"},
                    {copy,"{{output_dir}}/../../lib/dgiot/etc/certs","etc/"},
                    {copy,"{{output_dir}}/../../lib/cuttlefish/cuttlefish",
                        "bin/"}]},
               {overlay_vars,["vars-cloud.config","vars-bin.config"]}]}]},
     {'dgiot-pkg',
         [{deps,
              [{dgiot,
                   {git,"https://hub.fastgit.org/dgiot/dgiot",
                       {tag,"release-4.2"}}}]},
          {relx,
              [{include_src,false},
               {extended_start_script,false},
               {generate_start_script,false},
               {sys_config,false},
               {vm_args,false},
               {release,
                   {dgiot,"release-4.2"},
                   [kernel,sasl,crypto,public_key,asn1,syntax_tools,ssl,jsx,
                    os_mon,inets,compiler,runtime_tools,cuttlefish,dgiot,
                    {mnesia,load},
                    {ekka,load},
                    {observer,load}]},
               {overlay,
                   [{mkdir,"etc/"},
                    {mkdir,"log/"},
                    {mkdir,"data/"},
                    {mkdir,"data/mnesia"},
                    {mkdir,"data/configs"},
                    {mkdir,"data/scripts"},
                    {template,"bin/dgiot_env","bin/dgiot_env"},
                    {template,"bin/dgiot","bin/dgiot"},
                    {template,"bin/dgiot_ctl","bin/dgiot_ctl"},
                    {template,"bin/dgiot.cmd","bin/dgiot.cmd"},
                    {template,"bin/dgiot_ctl.cmd","bin/dgiot_ctl.cmd"},
                    {copy,"{{output_dir}}/../../conf/plugins","etc/"},
                    {template,"{{output_dir}}/../../conf/dgiot.conf",
                        "etc/dgiot.conf"},
                    {template,"data/loaded_plugins.tmpl",
                        "data/loaded_plugins"},
                    {template,"data/loaded_modules.tmpl",
                        "data/loaded_modules"},
                    {copy,"bin/nodetool","bin/nodetool"},
                    {copy,"{{output_dir}}/../../conf/schema/dgiot.schema",
                        "releases/{{rel_vsn}}/"},
                    {copy,"bin/install_upgrade_escript",
                        "bin/install_upgrade_escript"},
                    {template,
                        "{{output_dir}}/../../lib/dgiot/etc/{{vm_args_file}}",
                        "etc/vm.args"},
                    {copy,"{{output_dir}}/../../lib/dgiot/etc/certs","etc/"},
                    {copy,"{{output_dir}}/../../lib/cuttlefish/cuttlefish",
                        "bin/"}]},
               {overlay_vars,["vars-cloud.config","vars-pkg.config"]}]}]},
     {'dgiot-edge',
         [{deps,
              [{dgiot,
                   {git,"https://hub.fastgit.org/dgiot/dgiot",
                       {tag,"release-4.2"}}}]},
          {relx,
              [{include_src,false},
               {extended_start_script,false},
               {generate_start_script,false},
               {sys_config,false},
               {vm_args,false},
               {release,
                   {dgiot,"release-4.2"},
                   [kernel,sasl,crypto,public_key,asn1,syntax_tools,ssl,jsx,
                    os_mon,inets,compiler,runtime_tools,cuttlefish,dgiot,
                    {mnesia,load},
                    {ekka,load}]},
               {overlay,
                   [{mkdir,"etc/"},
                    {mkdir,"log/"},
                    {mkdir,"data/"},
                    {mkdir,"data/mnesia"},
                    {mkdir,"data/configs"},
                    {mkdir,"data/scripts"},
                    {template,"bin/dgiot_env","bin/dgiot_env"},
                    {template,"bin/dgiot","bin/dgiot"},
                    {template,"bin/dgiot_ctl","bin/dgiot_ctl"},
                    {template,"bin/dgiot.cmd","bin/dgiot.cmd"},
                    {template,"bin/dgiot_ctl.cmd","bin/dgiot_ctl.cmd"},
                    {copy,"{{output_dir}}/../../conf/plugins","etc/"},
                    {template,"{{output_dir}}/../../conf/dgiot.conf",
                        "etc/dgiot.conf"},
                    {template,"data/loaded_plugins.tmpl",
                        "data/loaded_plugins"},
                    {template,"data/loaded_modules.tmpl",
                        "data/loaded_modules"},
                    {copy,"bin/nodetool","bin/nodetool"},
                    {copy,"{{output_dir}}/../../conf/schema/dgiot.schema",
                        "releases/{{rel_vsn}}/"},
                    {copy,"bin/install_upgrade_escript",
                        "bin/install_upgrade_escript"},
                    {template,
                        "{{output_dir}}/../../lib/dgiot/etc/{{vm_args_file}}",
                        "etc/vm.args"},
                    {copy,"{{output_dir}}/../../lib/dgiot/etc/certs","etc/"},
                    {copy,"{{output_dir}}/../../lib/cuttlefish/cuttlefish",
                        "bin/"}]},
               {overlay_vars,["vars-edge.config","vars-bin.config"]}]}]},
     {'dgiot-edge-pkg',
         [{deps,
              [{dgiot,
                   {git,"https://hub.fastgit.org/dgiot/dgiot",
                       {tag,"release-4.2"}}}]},
          {relx,
              [{include_src,false},
               {extended_start_script,false},
               {generate_start_script,false},
               {sys_config,false},
               {vm_args,false},
               {release,
                   {dgiot,"release-4.2"},
                   [kernel,sasl,crypto,public_key,asn1,syntax_tools,ssl,jsx,
                    os_mon,inets,compiler,runtime_tools,cuttlefish,dgiot,
                    {mnesia,load},
                    {ekka,load}]},
               {overlay,
                   [{mkdir,"etc/"},
                    {mkdir,"log/"},
                    {mkdir,"data/"},
                    {mkdir,"data/mnesia"},
                    {mkdir,"data/configs"},
                    {mkdir,"data/scripts"},
                    {template,"bin/dgiot_env","bin/dgiot_env"},
                    {template,"bin/dgiot","bin/dgiot"},
                    {template,"bin/dgiot_ctl","bin/dgiot_ctl"},
                    {template,"bin/dgiot.cmd","bin/dgiot.cmd"},
                    {template,"bin/dgiot_ctl.cmd","bin/dgiot_ctl.cmd"},
                    {copy,"{{output_dir}}/../../conf/plugins","etc/"},
                    {template,"{{output_dir}}/../../conf/dgiot.conf",
                        "etc/dgiot.conf"},
                    {template,"data/loaded_plugins.tmpl",
                        "data/loaded_plugins"},
                    {template,"data/loaded_modules.tmpl",
                        "data/loaded_modules"},
                    {copy,"bin/nodetool","bin/nodetool"},
                    {copy,"{{output_dir}}/../../conf/schema/dgiot.schema",
                        "releases/{{rel_vsn}}/"},
                    {copy,"bin/install_upgrade_escript",
                        "bin/install_upgrade_escript"},
                    {template,
                        "{{output_dir}}/../../lib/dgiot/etc/{{vm_args_file}}",
                        "etc/vm.args"},
                    {copy,"{{output_dir}}/../../lib/dgiot/etc/certs","etc/"},
                    {copy,"{{output_dir}}/../../lib/cuttlefish/cuttlefish",
                        "bin/"}]},
               {overlay_vars,["vars-edge.config","vars-pkg.config"]}]}]}]}.
