{plugins,[]}.
{edge_relx_overlay,[]}.
{edoc_opts,[{preprocess,true}]}.
{erl_opts,[warn_unused_vars,warn_shadow_vars,warn_unused_import,
           warn_obsolete_guard,debug_info]}.
{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,warnings_as_errors,
              deprecated_functions]}.
{cover_enabled,true}.
{cover_opts,[verbose]}.
{cover_export_enabled,true}.
{post_hooks,[{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",compile,
              "./post-compile.sh"},
             {"win32",compile,"post-compile.cmd"}]}.
{profiles,
    [{emqx,
         [{deps,
              [{emqx,{git,"https://hub.fastgit.org/emqx/emqx",{tag,"v4.0.0"}}},
               {emqx_retainer,
                   {git,"https://hub.fastgit.org/emqx/emqx-retainer",
                       {tag,"v4.0.0"}}},
               {emqx_management,
                   {git,"https://hub.fastgit.org/emqx/emqx-management",
                       {tag,"v4.0.0"}}},
               {emqx_reloader,
                   {git,"https://hub.fastgit.org/emqx/emqx-reloader",
                       {tag,"v4.0.0"}}},
               {emqx_web_hook,
                   {git,"https://hub.fastgit.org/emqx/emqx-web-hook",
                       {tag,"v4.0.0"}}},
               {emqx_bridge_mqtt,
                   {git,"https://hub.fastgit.org/emqx/emqx-bridge-mqtt",
                       {tag,"v4.0.0"}}},
               {emqx_delayed_publish,
                   {git,"https://hub.fastgit.org/emqx/emqx-delayed-publish",
                       {tag,"v4.0.0"}}},
               {emqx_recon,
                   {git,"https://hub.fastgit.org/emqx/emqx-recon",
                       {tag,"v4.0.0"}}},
               {emqx_psk_file,
                   {git,"https://hub.fastgit.org/emqx/emqx-psk-file",
                       {tag,"v4.0.0"}}},
               {emqx_rule_engine,
                   {git,"https://hub.fastgit.org/emqx/emqx-rule-engine",
                       {tag,"v4.0.0"}}},
               {emqx_dashboard,
                   {git,"https://hub.fastgit.org/emqx/emqx-dashboard",
                       {tag,"v4.0.0"}}}]},
          {relx,
              [{include_src,false},
               {extended_start_script,false},
               {generate_start_script,false},
               {sys_config,false},
               {vm_args,false},
               {release,
                   {emqx,"v4.0.0"},
                   [kernel,sasl,crypto,public_key,asn1,syntax_tools,ssl,
                    os_mon,inets,compiler,runtime_tools,gproc,esockd,getopt,
                    cuttlefish,replayq,jsx,cowboy,emqx,
                    {mnesia,load},
                    {ekka,load},
                    {emqx_recon,load},
                    {emqx_management,load},
                    {emqx_rule_engine,load},
                    {emqx_retainer,load},
                    {emqx_reloader,load},
                    {emqx_bridge_mqtt,load},
                    {emqx_delayed_publish,load},
                    {emqx_psk_file,load},
                    {emqx_dashboard,load},
                    {observer,load},
                    xmerl]},
               {overlay,
                   [{mkdir,"etc/"},
                    {mkdir,"log/"},
                    {mkdir,"data/"},
                    {mkdir,"data/mnesia"},
                    {mkdir,"data/configs"},
                    {mkdir,"data/scripts"},
                    {template,"bin/emqx_env","bin/emqx_env"},
                    {template,"bin/emqx","bin/emqx"},
                    {template,"bin/emqx_ctl","bin/emqx_ctl"},
                    {template,"bin/emqx.cmd","bin/emqx.cmd"},
                    {template,"bin/emqx_ctl.cmd","bin/emqx_ctl.cmd"},
                    {copy,"{{output_dir}}/../../conf/plugins","etc/"},
                    {template,"{{output_dir}}/../../conf/emqx.conf",
                        "etc/emqx.conf"},
                    {template,"{{output_dir}}/../../conf/ssl_dist.conf",
                        "etc/ssl_dist.conf"},
                    {template,
                        "{{output_dir}}/../../conf/plugins/emqx_bridge_mqtt.conf",
                        "etc/plugins/emqx_bridge_mqtt.conf"},
                    {template,
                        "{{output_dir}}/../../conf/plugins/emqx_psk_file.conf",
                        "etc/plugins/emqx_psk_file.conf"},
                    {template,"data/loaded_plugins.tmpl",
                        "data/loaded_plugins"},
                    {copy,"{{output_dir}}/../../conf/acl.conf","etc/acl.conf"},
                    {copy,"bin/nodetool","bin/nodetool"},
                    {copy,"data/dvmeter_info.dets","data/"},
                    {copy,"{{output_dir}}/../../conf/schema",
                        "releases/{{rel_vsn}}/"},
                    {copy,"bin/install_upgrade_escript",
                        "bin/install_upgrade_escript"},
                    {template,
                        "{{output_dir}}/../../lib/emqx/etc/{{vm_args_file}}",
                        "etc/vm.args"},
                    {copy,"{{output_dir}}/../../lib/emqx/etc/certs","etc/"},
                    {copy,"{{output_dir}}/../../lib/cuttlefish/cuttlefish",
                        "bin/"},
                    {copy,
                        "{{output_dir}}/../../lib/emqx_psk_file/etc/psk.txt",
                        "etc/psk.txt"}]},
               {overlay_vars,["vars-cloud.config","vars-dev.config"]}]}]},
     {'emqx-pkg',
         [{deps,
              [{emqx,{git,"https://hub.fastgit.org/emqx/emqx",{tag,"v4.0.0"}}},
               {emqx_retainer,
                   {git,"https://hub.fastgit.org/emqx/emqx-retainer",
                       {tag,"v4.0.0"}}},
               {emqx_management,
                   {git,"https://hub.fastgit.org/emqx/emqx-management",
                       {tag,"v4.0.0"}}},
               {emqx_reloader,
                   {git,"https://hub.fastgit.org/emqx/emqx-reloader",
                       {tag,"v4.0.0"}}},
               {emqx_web_hook,
                   {git,"https://hub.fastgit.org/emqx/emqx-web-hook",
                       {tag,"v4.0.0"}}},
               {emqx_bridge_mqtt,
                   {git,"https://hub.fastgit.org/emqx/emqx-bridge-mqtt",
                       {tag,"v4.0.0"}}},
               {emqx_delayed_publish,
                   {git,"https://hub.fastgit.org/emqx/emqx-delayed-publish",
                       {tag,"v4.0.0"}}},
               {emqx_recon,
                   {git,"https://hub.fastgit.org/emqx/emqx-recon",
                       {tag,"v4.0.0"}}},
               {emqx_psk_file,
                   {git,"https://hub.fastgit.org/emqx/emqx-psk-file",
                       {tag,"v4.0.0"}}},
               {emqx_rule_engine,
                   {git,"https://hub.fastgit.org/emqx/emqx-rule-engine",
                       {tag,"v4.0.0"}}},
               {emqx_dashboard,
                   {git,"https://hub.fastgit.org/emqx/emqx-dashboard",
                       {tag,"v4.0.0"}}}]},
          {relx,
              [{include_src,false},
               {extended_start_script,false},
               {generate_start_script,false},
               {sys_config,false},
               {vm_args,false},
               {release,
                   {emqx,"v4.0.0"},
                   [kernel,sasl,crypto,public_key,asn1,syntax_tools,ssl,
                    os_mon,inets,compiler,runtime_tools,gproc,esockd,getopt,
                    cuttlefish,replayq,jsx,cowboy,emqx,
                    {mnesia,load},
                    {ekka,load},
                    {emqx_recon,load},
                    {emqx_management,load},
                    {emqx_rule_engine,load},
                    {emqx_retainer,load},
                    {emqx_reloader,load},
                    {emqx_bridge_mqtt,load},
                    {emqx_delayed_publish,load},
                    {emqx_psk_file,load},
                    {emqx_dashboard,load},
                    {observer,load},
                    xmerl]},
               {overlay,
                   [{mkdir,"etc/"},
                    {mkdir,"log/"},
                    {mkdir,"data/"},
                    {mkdir,"data/mnesia"},
                    {mkdir,"data/configs"},
                    {mkdir,"data/scripts"},
                    {template,"bin/emqx_env","bin/emqx_env"},
                    {template,"bin/emqx","bin/emqx"},
                    {template,"bin/emqx_ctl","bin/emqx_ctl"},
                    {template,"bin/emqx.cmd","bin/emqx.cmd"},
                    {template,"bin/emqx_ctl.cmd","bin/emqx_ctl.cmd"},
                    {copy,"{{output_dir}}/../../conf/plugins","etc/"},
                    {template,"{{output_dir}}/../../conf/emqx.conf",
                        "etc/emqx.conf"},
                    {template,"{{output_dir}}/../../conf/ssl_dist.conf",
                        "etc/ssl_dist.conf"},
                    {template,
                        "{{output_dir}}/../../conf/plugins/emqx_bridge_mqtt.conf",
                        "etc/plugins/emqx_bridge_mqtt.conf"},
                    {template,
                        "{{output_dir}}/../../conf/plugins/emqx_psk_file.conf",
                        "etc/plugins/emqx_psk_file.conf"},
                    {template,"data/loaded_plugins.tmpl",
                        "data/loaded_plugins"},
                    {copy,"{{output_dir}}/../../conf/acl.conf","etc/acl.conf"},
                    {copy,"bin/nodetool","bin/nodetool"},
                    {copy,"data/dvmeter_info.dets","data/"},
                    {copy,"{{output_dir}}/../../conf/schema",
                        "releases/{{rel_vsn}}/"},
                    {copy,"bin/install_upgrade_escript",
                        "bin/install_upgrade_escript"},
                    {template,
                        "{{output_dir}}/../../lib/emqx/etc/{{vm_args_file}}",
                        "etc/vm.args"},
                    {copy,"{{output_dir}}/../../lib/emqx/etc/certs","etc/"},
                    {copy,"{{output_dir}}/../../lib/cuttlefish/cuttlefish",
                        "bin/"},
                    {copy,
                        "{{output_dir}}/../../lib/emqx_psk_file/etc/psk.txt",
                        "etc/psk.txt"}]},
               {overlay_vars,["vars-cloud.config","vars-pkg.config"]}]}]},
     {'emqx-edge',
         [{deps,
              [{emqx,{git,"https://hub.fastgit.org/emqx/emqx",{tag,"v4.0.0"}}},
               {emqx_retainer,
                   {git,"https://hub.fastgit.org/emqx/emqx-retainer",
                       {tag,"v4.0.0"}}},
               {emqx_management,
                   {git,"https://hub.fastgit.org/emqx/emqx-management",
                       {tag,"v4.0.0"}}},
               {emqx_reloader,
                   {git,"https://hub.fastgit.org/emqx/emqx-reloader",
                       {tag,"v4.0.0"}}},
               {emqx_web_hook,
                   {git,"https://hub.fastgit.org/emqx/emqx-web-hook",
                       {tag,"v4.0.0"}}},
               {emqx_bridge_mqtt,
                   {git,"https://hub.fastgit.org/emqx/emqx-bridge-mqtt",
                       {tag,"v4.0.0"}}},
               {emqx_delayed_publish,
                   {git,"https://hub.fastgit.org/emqx/emqx-delayed-publish",
                       {tag,"v4.0.0"}}},
               {emqx_recon,
                   {git,"https://hub.fastgit.org/emqx/emqx-recon",
                       {tag,"v4.0.0"}}},
               {emqx_psk_file,
                   {git,"https://hub.fastgit.org/emqx/emqx-psk-file",
                       {tag,"v4.0.0"}}},
               {emqx_rule_engine,
                   {git,"https://hub.fastgit.org/emqx/emqx-rule-engine",
                       {tag,"v4.0.0"}}},
               {emqx_cube,
                   {git,"https://hub.fastgit.org/emqx/emqx-cube",
                       {tag,"v4.0.0"}}}]},
          {relx,
              [{include_src,false},
               {extended_start_script,false},
               {generate_start_script,false},
               {sys_config,false},
               {vm_args,false},
               {release,
                   {emqx,"v4.0.0"},
                   [kernel,sasl,crypto,public_key,asn1,syntax_tools,ssl,
                    os_mon,inets,compiler,runtime_tools,gproc,esockd,getopt,
                    cuttlefish,replayq,jsx,cowboy,emqx,
                    {mnesia,load},
                    {ekka,load},
                    {emqx_recon,load},
                    {emqx_management,load},
                    {emqx_rule_engine,load},
                    {emqx_retainer,load},
                    {emqx_reloader,load},
                    {emqx_bridge_mqtt,load},
                    {emqx_delayed_publish,load},
                    {emqx_psk_file,load},
                    {emqx_cube,load}]},
               {overlay,
                   [{mkdir,"etc/"},
                    {mkdir,"log/"},
                    {mkdir,"data/"},
                    {mkdir,"data/mnesia"},
                    {mkdir,"data/configs"},
                    {mkdir,"data/scripts"},
                    {template,"bin/emqx_env","bin/emqx_env"},
                    {template,"bin/emqx","bin/emqx"},
                    {template,"bin/emqx_ctl","bin/emqx_ctl"},
                    {template,"bin/emqx.cmd","bin/emqx.cmd"},
                    {template,"bin/emqx_ctl.cmd","bin/emqx_ctl.cmd"},
                    {copy,"{{output_dir}}/../../conf/plugins","etc/"},
                    {template,"{{output_dir}}/../../conf/emqx.conf",
                        "etc/emqx.conf"},
                    {template,"{{output_dir}}/../../conf/ssl_dist.conf",
                        "etc/ssl_dist.conf"},
                    {template,
                        "{{output_dir}}/../../conf/plugins/emqx_bridge_mqtt.conf",
                        "etc/plugins/emqx_bridge_mqtt.conf"},
                    {template,
                        "{{output_dir}}/../../conf/plugins/emqx_psk_file.conf",
                        "etc/plugins/emqx_psk_file.conf"},
                    {template,"data/loaded_plugins.tmpl",
                        "data/loaded_plugins"},
                    {copy,"{{output_dir}}/../../conf/acl.conf","etc/acl.conf"},
                    {copy,"bin/nodetool","bin/nodetool"},
                    {copy,"data/dvmeter_info.dets","data/"},
                    {copy,"{{output_dir}}/../../conf/schema",
                        "releases/{{rel_vsn}}/"},
                    {copy,"bin/install_upgrade_escript",
                        "bin/install_upgrade_escript"},
                    {template,
                        "{{output_dir}}/../../lib/emqx/etc/{{vm_args_file}}",
                        "etc/vm.args"},
                    {copy,"{{output_dir}}/../../lib/emqx/etc/certs","etc/"},
                    {copy,"{{output_dir}}/../../lib/cuttlefish/cuttlefish",
                        "bin/"},
                    {copy,
                        "{{output_dir}}/../../lib/emqx_psk_file/etc/psk.txt",
                        "etc/psk.txt"}]},
               {overlay_vars,["vars-edge.config","vars-dev.config"]}]}]},
     {'emqx-edge-pkg',
         [{deps,
              [{emqx,{git,"https://hub.fastgit.org/emqx/emqx",{tag,"v4.0.0"}}},
               {emqx_retainer,
                   {git,"https://hub.fastgit.org/emqx/emqx-retainer",
                       {tag,"v4.0.0"}}},
               {emqx_management,
                   {git,"https://hub.fastgit.org/emqx/emqx-management",
                       {tag,"v4.0.0"}}},
               {emqx_reloader,
                   {git,"https://hub.fastgit.org/emqx/emqx-reloader",
                       {tag,"v4.0.0"}}},
               {emqx_web_hook,
                   {git,"https://hub.fastgit.org/emqx/emqx-web-hook",
                       {tag,"v4.0.0"}}},
               {emqx_bridge_mqtt,
                   {git,"https://hub.fastgit.org/emqx/emqx-bridge-mqtt",
                       {tag,"v4.0.0"}}},
               {emqx_delayed_publish,
                   {git,"https://hub.fastgit.org/emqx/emqx-delayed-publish",
                       {tag,"v4.0.0"}}},
               {emqx_recon,
                   {git,"https://hub.fastgit.org/emqx/emqx-recon",
                       {tag,"v4.0.0"}}},
               {emqx_psk_file,
                   {git,"https://hub.fastgit.org/emqx/emqx-psk-file",
                       {tag,"v4.0.0"}}},
               {emqx_rule_engine,
                   {git,"https://hub.fastgit.org/emqx/emqx-rule-engine",
                       {tag,"v4.0.0"}}},
               {emqx_cube,
                   {git,"https://hub.fastgit.org/emqx/emqx-cube",
                       {tag,"v4.0.0"}}}]},
          {relx,
              [{include_src,false},
               {extended_start_script,false},
               {generate_start_script,false},
               {sys_config,false},
               {vm_args,false},
               {release,
                   {emqx,"v4.0.0"},
                   [kernel,sasl,crypto,public_key,asn1,syntax_tools,ssl,
                    os_mon,inets,compiler,runtime_tools,gproc,esockd,getopt,
                    cuttlefish,replayq,jsx,cowboy,emqx,
                    {mnesia,load},
                    {ekka,load},
                    {emqx_recon,load},
                    {emqx_management,load},
                    {emqx_rule_engine,load},
                    {emqx_retainer,load},
                    {emqx_reloader,load},
                    {emqx_bridge_mqtt,load},
                    {emqx_delayed_publish,load},
                    {emqx_psk_file,load},
                    {emqx_cube,load}]},
               {overlay,
                   [{mkdir,"etc/"},
                    {mkdir,"log/"},
                    {mkdir,"data/"},
                    {mkdir,"data/mnesia"},
                    {mkdir,"data/configs"},
                    {mkdir,"data/scripts"},
                    {template,"bin/emqx_env","bin/emqx_env"},
                    {template,"bin/emqx","bin/emqx"},
                    {template,"bin/emqx_ctl","bin/emqx_ctl"},
                    {template,"bin/emqx.cmd","bin/emqx.cmd"},
                    {template,"bin/emqx_ctl.cmd","bin/emqx_ctl.cmd"},
                    {copy,"{{output_dir}}/../../conf/plugins","etc/"},
                    {template,"{{output_dir}}/../../conf/emqx.conf",
                        "etc/emqx.conf"},
                    {template,"{{output_dir}}/../../conf/ssl_dist.conf",
                        "etc/ssl_dist.conf"},
                    {template,
                        "{{output_dir}}/../../conf/plugins/emqx_bridge_mqtt.conf",
                        "etc/plugins/emqx_bridge_mqtt.conf"},
                    {template,
                        "{{output_dir}}/../../conf/plugins/emqx_psk_file.conf",
                        "etc/plugins/emqx_psk_file.conf"},
                    {template,"data/loaded_plugins.tmpl",
                        "data/loaded_plugins"},
                    {copy,"{{output_dir}}/../../conf/acl.conf","etc/acl.conf"},
                    {copy,"bin/nodetool","bin/nodetool"},
                    {copy,"data/dvmeter_info.dets","data/"},
                    {copy,"{{output_dir}}/../../conf/schema",
                        "releases/{{rel_vsn}}/"},
                    {copy,"bin/install_upgrade_escript",
                        "bin/install_upgrade_escript"},
                    {template,
                        "{{output_dir}}/../../lib/emqx/etc/{{vm_args_file}}",
                        "etc/vm.args"},
                    {copy,"{{output_dir}}/../../lib/emqx/etc/certs","etc/"},
                    {copy,"{{output_dir}}/../../lib/cuttlefish/cuttlefish",
                        "bin/"},
                    {copy,
                        "{{output_dir}}/../../lib/emqx_psk_file/etc/psk.txt",
                        "etc/psk.txt"}]},
               {overlay_vars,["vars-edge.config","vars-pkg.config"]}]}]}]}.
