%% NOTE: Order of the deps matters!
{elixir_deps, []}.

{deps,
 [emqx,
  emqx_retainer,
  emqx_management,
  emqx_reloader,
  emqx_delayed_publish,
  emqx_recon,
  emqx_psk_file,
  emqx_rule_engine
 ]}.

%% Added to deps list for 'cloud' profile
{cloud_deps,
 [
  emqx_dashboard,
  shuwa_statsd,
  shuwa_public,
  shuwa_license,
  shuwa_framework,
  shuwa_parse,
  shuwa_mqtt,
  shuwa_device_shadow,
  shuwa_bridge,
  shuwa_evidence,
  shuwa_group,
  shuwa_web_manager,
  shuwa_task,
  shuwa_exproto,
  shuwa_td,
  shuwa_api
 ]}.

{edge_deps, [emqx_cube]}.

{relx,
 [{include_src, false},
  {extended_start_script, false},
  {generate_start_script, false},
  {sys_config, false},
  {vm_args, false},
  {release, {dgiot, git_describe},
   [kernel,
    sasl,
    crypto,
    public_key,
    asn1,
    syntax_tools,
    ssl,
    os_mon,
    inets,
    compiler,
    runtime_tools,
    gproc,
    esockd,
    getopt,
    cuttlefish,
    jsx,
    cowboy,
    poolboy,
    emqx,
    {mnesia, load},
    {ekka, load},
    {emqx_recon, load},
    {emqx_management, load},
    {emqx_rule_engine, load},
    {emqx_retainer, load},
    {emqx_reloader, load},
    {emqx_delayed_publish, load},
    {emqx_psk_file, load},
    {shuwa_statsd, load},
    {shuwa_public, load},
    {shuwa_parse, load},
    {shuwa_mqtt, load},
    {shuwa_license, load},
    {shuwa_framework, load},
    {shuwa_device_shadow,load},
    {shuwa_web_manager, load},
    {shuwa_group,load},
    {shuwa_bridge, load},
    {shuwa_task, load},
    {shuwa_evidence, load},
    {shuwa_exproto,load},
    {shuwa_td, load},
    {shuwa_api,load}
   ]},
  {overlay,
   [{mkdir,"etc/"},
    {mkdir,"log/"},
    {mkdir,"data/"},
    {mkdir,"data/mnesia"},
    {mkdir,"data/configs"},
    {mkdir,"data/scripts"},
    {template,"bin/emqx_env","bin/emqx_env"},
    {template,"bin/dgiot_env","bin/dgiot_env"},
    {template,"bin/emqx","bin/emqx"},
    {template,"bin/dgiot","bin/dgiot"},
    {template,"bin/emqx_ctl","bin/emqx_ctl"},
    {template,"bin/dgiot_ctl","bin/dgiot_ctl"},
    {template,"bin/emqx.cmd","bin/emqx.cmd"},
    {template,"bin/dgiot.cmd","bin/dgiot.cmd"},
    {template,"bin/emqx_ctl.cmd","bin/emqx_ctl.cmd"},
    {template,"bin/dgiot_ctl.cmd","bin/dgiot_ctl.cmd"},
    {copy,"{{output_dir}}/../../conf/plugins","etc/"},
    {template,"{{output_dir}}/../../conf/emqx.conf","etc/emqx.conf"},
    {template,"{{output_dir}}/../../conf/ssl_dist.conf","etc/ssl_dist.conf"},
    {template,"{{output_dir}}/../../conf/plugins/emqx_psk_file.conf", "etc/plugins/emqx_psk_file.conf"},
    {template, "data/loaded_plugins.tmpl", "data/loaded_plugins"},
    {copy,"{{output_dir}}/../../conf/acl.conf","etc/acl.conf"},
    {copy,"bin/nodetool","bin/nodetool"},
    {copy, "data/dvmeter_info.dets","data/"},
    {copy,"{{output_dir}}/../../conf/schema","releases/{{rel_vsn}}/"},
    {copy,"bin/install_upgrade_escript", "bin/install_upgrade_escript"},
    {template,"{{output_dir}}/../../lib/emqx/etc/{{vm_args_file}}","etc/vm.args"},
    {copy, "{{output_dir}}/../../lib/emqx/etc/certs","etc/"},
    {copy, "{{output_dir}}/../../lib/cuttlefish/cuttlefish","bin/"},
    {copy, "{{output_dir}}/../../lib/emqx_psk_file/etc/psk.txt", "etc/psk.txt"}
   ]}
 ]}.

{elixir_relx_apps, []}.

{edge_relx_apps, [{emqx_cube, load}]}.

{cloud_relx_apps,
 [
  {emqx_dashboard, load},
  {observer, load},
  xmerl
 ]}.

{cloud_relx_overlay,
 [
 ]}.

{edge_relx_overlay, []}.

{edoc_opts, [{preprocess,true}]}.
{erl_opts, [warn_unused_vars,warn_shadow_vars,warn_unused_import,
            warn_obsolete_guard,debug_info]}.

{xref_checks, [undefined_function_calls,undefined_functions,locals_not_used,
               deprecated_function_calls,warnings_as_errors,
               deprecated_functions]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{plugins, [rebar3_run]}.

{post_hooks,
 [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)", compile, "./post-compile.sh"},
  {"win32", compile, "post-compile.cmd"}
 ]}.

