{enable_plugin_emqx_dashboard, true}.
{enable_plugin_emqx_rule_engine, true}.
{enable_plugin_emqx_bridge_mqtt, true}.
{enable_plugin_emqx_cube, false}.
{enable_plugin_shuwa_statsd, true}.
{enable_plugin_shuwa_license, true}.
{enable_plugin_shuwa_public, true}.
{enable_plugin_shuwa_mqtt, true}.
{enable_plugin_shuwa_framework, true}.
{enable_plugin_shuwa_device_shadow, true}.
{enable_plugin_shuwa_parse, true}.
{enable_plugin_shuwa_bridge, true}.
{enable_plugin_shuwa_evidence, true}.
{enable_plugin_shuwa_group, true}.
{enable_plugin_shuwa_web_manager, true}.
{enable_plugin_shuwa_exproto,true}.
{enable_plugin_shuwa_task, true}.
{enable_plugin_shuwa_td, true}.
{enable_plugin_shuwa_api,true}.
{vm_args_file, "vm.args"}.
