%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% Platform-specific installation paths
{platform_bin_dir,  ""}.
{platform_data_dir, "/var/lib/dgiot"}.
{platform_etc_dir,  "/etc/dgiot"}.
{platform_lib_dir,  ""}.
{platform_log_dir,  "/var/log/dgiot"}.
{platform_plugins_dir,  "/var/lib/dgiot/plugins"}.

%%
%% bin/emqx
%%
{runner_root_dir, "/usr/lib/dgiot"}.
{runner_bin_dir,  "/usr/bin"}.
{runner_etc_dir,  "/etc/dgiot"}.
{runner_lib_dir,  "$RUNNER_ROOT_DIR/lib"}.
{runner_log_dir,  "/var/log/dgiot"}.
{runner_data_dir, "/var/lib/dgiot"}.
{pipe_dir,        "/tmp/$RUNNER_SCRIPT/"}.
{runner_user,     "dgiot"}.
