{<<"name">>,<<"neotoma">>}.
{<<"version">>,<<"1.7.3">>}.
{<<"app">>,<<"neotoma">>}.
{<<"contributors">>,[<<"Sean Cribbs">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"PEG/Packrat toolkit and parser-generator.">>}.
{<<"files">>,
 [<<"src/neotoma.app.src">>,<<"src/neotoma.erl">>,<<"src/neotoma_parse.erl">>,
  <<"src/neotoma_parse.erl.safe">>,<<"priv/neotoma_parse.peg">>,
  <<"priv/peg_includes.hrl">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"README.textile">>,<<"LICENSE">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/seancribbs/neotoma">>}]}.
{<<"build_tools">>,[<<"rebar">>]}.
