_build
erl_crash.dump
*.log
rebar.lock
rebar3.crashdump
src/*.dot
src/sql_lex.erl
src/sqlparse.erl
test/generated
tmp
erlang.mk
ebin/
sqlparser.d
.erlang.mk/
deps/
sqlparse.d
test/*.beam
ct.coverdata
logs/
test/ct.cover.spec
