.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
.idea
examples/*/ebin
.idea/
.erlang.mk/
esockd.d
test/ct.cover.spec
examples/*/*.d
docs/_build/
ct.coverdata
eunit.coverdata
logs/
examples/async_recv/async_recv_echo_server.d
examples/client/echo_client.d
examples/gen_server/gen_echo_server.d
examples/plain/echo_server.d
examples/ssl/ssl_echo_server.d
cover/
.DS_Store
erlang.mk
_build/
rebar3.crashdump
*.swp
.rebar3/
