{minimum_otp_vsn, "21.0"}.

{erl_opts, [warn_unused_vars,
            warn_shadow_vars,
            warn_unused_import,
            warn_obsolete_guard,
            debug_info,
            compressed %% for edge
           ]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               warnings_as_errors, deprecated_functions
              ]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{src_dirs, ["src"]}.

{extra_src_dirs, ["examples/client",
                  "examples/active_n",
                  "examples/async_recv",
                  "examples/client",
                  "examples/dtls",
                  "examples/dtls_psk",
                  "examples/gen_server",
                  "examples/plain",
                  "examples/proxy_protocol",
                  "examples/simple",
                  "examples/ssl",
                  "examples/tcp_window",
                  "examples/udp"
                 ]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{dialyzer, [{warnings, [unmatched_returns, error_handling, race_conditions]},
            %% rebar3 will find `examples/ssl` instead of otp`s ssl
            %% so just exclude it!
            {exclude_apps, [ssl]}
           ]}.

{profiles,
    [{test,
        [{plugins, [{coveralls, {git, "https://hub.fastgit.org/emqx/coveralls-erl", {branch, "github"}}}]},
         {deps, [{meck, "0.8.13"}]},
         {erl_opts, [debug_info]}
        ]}
    ]}.

