[
 {
   elvis,
   [
    {config,
     [#{dirs => [
                 "src"
                ],
        filter => "*.erl",
        rules => [
                  {elvis_style, line_length,
                   #{limit => 110, skip_comments => false}},
                  {elvis_style, nesting_level,
                   #{level => 5}},
                  {elvis_style, no_spec_with_records, disable}
                 ],
        ruleset => erl_files
       },
      #{dirs => ["."],
        filter => "Makefile",
        ruleset => makefiles
       },
      #{dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
       },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 }
].
