{erl_opts, [debug_info]}.

{plugins,
 [rebar3_proper,
  {grpc_plugin, {git, "https://gitee.com/fastdgiot/grpc_plugin.git", {tag, "v0.10.3"}}}
 ]}.

{deps,
 [{grpc, {git, "https://gitee.com/fastdgiot/grpc-erl", {tag, "0.6.4"}}}
 ]}.

{grpc,
 [ {type, all}
 , {protos, ["priv/"]}
 , {out_dir, "src/"}
 , {gpb_opts, [{module_name_suffix, "_pb"}]}
 ]}.

{provider_hooks,
 [{pre, [{compile, {grpc, gen}},
         {clean, {grpc, clean}}]}
 ]}.
