{<<"app">>,<<"providers">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Providers provider.">>}.
{<<"files">>,
 [<<"src/providers.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"include/providers.hrl">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/provider.erl">>,<<"src/providers.erl">>,
  <<"src/providers_topo.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/tsloughter/providers">>}]}.
{<<"name">>,<<"providers">>}.
{<<"requirements">>,
 [{<<"getopt">>,
   [{<<"app">>,<<"getopt">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.0.1">>}]}]}.
{<<"version">>,<<"1.8.1">>}.
