{<<"name">>,<<"getopt">>}.
{<<"version">>,<<"1.0.1">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"getopt">>}.
{<<"maintainers">>,[<<"Juan Jose Comellas">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Command-line options parser for Erlang">>}.
{<<"files">>,
 [<<"src/getopt.app.src">>,<<"LICENSE.txt">>,<<"README.md">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/getopt.erl">>]}.
{<<"licenses">>,[<<"BSD">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/jcomellas/getopt">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
