{erl_opts, [warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            strict_validation,
            warn_export_vars,
            warn_exported_vars,
            warn_missing_spec,
            warn_untyped_record, debug_info,
            {platform_define, "^2", unicode_str}
]}.

{dialyzer,
 [
  {warnings, [no_return, no_undefined_callbacks, no_unused]},
  {get_warnings, true},
  {plt_apps, top_level_deps},
  {plt_location, local},
  {base_plt_apps, [kernel, stdlib, sasl, inets, crypto, public_key, ssl,
                   runtime_tools, erts, compiler, tools, syntax_tools, hipe,
                   mnesia]},
  {base_plt_location, global}
 ]}.

{xref_checks, [undefined_function_calls]}.
