{<<"app">>,<<"verl">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"SemVer2 version and requirements parsing, matching, and comparison">>}.
{<<"files">>,
 [<<"src/verl.app.src">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/verl.erl">>,<<"src/verl.hrl">>,
  <<"src/verl_parser.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/jelly-beam/verl">>}]}.
{<<"name">>,<<"verl">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.0.2">>}.
