{erl_opts, [debug_info]}.
{deps, []}.
{project_plugins, [rebar3_proper, rebar3_hex, covertool]}.
{profiles, [{test, [{deps, [{proper, "1.2.0"}]}]}]}.

{xref_ignores, [verl, {verl_parser, parse_version, 2}]}.

{alias, [{quick_test, [{proper, "--cover --numtests=3"},
                       {eunit, "--cover"},
                       {cover, "-v"}]},
         {test, [{ct, "-c"}, {proper, "--cover"}, {eunit, "--cover"}, {cover, "-v"}]},
         {check, [{proper, "--cover --numtests=3"},
                  {eunit, "--cover"},
                  xref, dialyzer, cover]}]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.
