{<<"app">>,<<"replayq">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"A Disk Queue for Log Replay in Erlang">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.config.script">>,
  <<"rebar.lock">>,<<"src/replayq.app.src">>,<<"src/replayq.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[]}.
{<<"name">>,<<"replayq">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.1.2">>}.
