{<<"name">>,<<"gproc">>}.
{<<"version">>,<<"0.8.0">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"gproc">>}.
{<<"maintainers">>,[<<"Ulf Wiger">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Extended process registry for Erlang">>}.
{<<"files">>,
 [<<"src/gproc.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"include/gproc.hrl">>,<<"priv/check_edown.script">>,
  <<"priv/remove_deps.script">>,<<"priv/sys.config">>,<<"rebar.config">>,
  <<"rebar.config.script">>,<<"rebar.lock">>,<<"src/Makefile">>,
  <<"src/gproc.erl">>,<<"src/gproc_app.erl">>,<<"src/gproc_bcast.erl">>,
  <<"src/gproc_dist.erl">>,<<"src/gproc_info.erl">>,<<"src/gproc_init.erl">>,
  <<"src/gproc_int.hrl">>,<<"src/gproc_lib.erl">>,<<"src/gproc_monitor.erl">>,
  <<"src/gproc_pool.erl">>,<<"src/gproc_ps.erl">>,<<"src/gproc_pt.erl">>,
  <<"src/gproc_sup.erl">>,<<"src/gproc_trace.hrl">>]}.
{<<"licenses">>,[<<"APL 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/uwiger/gproc">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
