{emqx_management, true}.
{emqx_dashboard, true}.
{emqx_modules, {{enable_plugin_emqx_modules}}}.
{emqx_recon, {{enable_plugin_emqx_recon}}}.
{emqx_retainer, {{enable_plugin_emqx_retainer}}}.
{emqx_telemetry, {{enable_plugin_emqx_telemetry}}}.
{emqx_rule_engine, {{enable_plugin_emqx_rule_engine}}}.
{emqx_bridge_mqtt, {{enable_plugin_emqx_bridge_mqtt}}}.
{dgiot, {{enable_plugin_dgiot}}}.
{dgiot_parse, {{enable_plugin_dgiot_parse}}}.
{dgiot_api, {{enable_plugin_dgiot_api}}}.
{dgiot_bridge, {{enable_plugin_dgiot_bridge}}}.
{dgiot_device, {{enable_plugin_dgiot_device}}}.
{dgiot_tdengine, {{enable_plugin_dgiot_tdengine}}}.
{dgiot_task, {{enable_plugin_dgiot_task}}}.
{dgiot_http, {{enable_plugin_dgiot_http}}}.
{dgiot_ffmpeg, {{enable_plugin_dgiot_ffmpeg}}}.
{dgiot_license, {{enable_plugin_dgiot_license}}}.
{dgiot_topo, {{enable_plugin_dgiot_topo}}}.
{dgiot_opc, {{enable_plugin_dgiot_opc}}}.
{dgiot_meter, {{enable_plugin_dgiot_meter}}}.
{dgiot_matlab, {{enable_plugin_dgiot_matlab}}}.
{dgiot_niisten, {{enable_plugin_dgiot_niisten}}}.
{dgiot_modbus, {{enable_plugin_dgiot_modbus}}}.
{dgiot_group, {{enable_plugin_dgiot_group}}}.
{dgiot_bamis, {{enable_plugin_dgiot_bamis}}}.
{dgiot_dlink, {{enable_plugin_dgiot_dlink}}}.