{<<"app">>,<<"observer_cli">>}.
{<<"build_tools">>,[<<"mix">>,<<"rebar3">>]}.
{<<"description">>,<<"Visualize Erlang Nodes On The Command Line">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"include/observer_cli.hrl">>,<<"mix.exs">>,
  <<"mix.lock">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/observer_cli.app.src">>,<<"src/observer_cli.erl">>,
  <<"src/observer_cli_application.erl">>,
  <<"src/observer_cli_escriptize.erl">>,<<"src/observer_cli_ets.erl">>,
  <<"src/observer_cli_help.erl">>,<<"src/observer_cli_inet.erl">>,
  <<"src/observer_cli_lib.erl">>,<<"src/observer_cli_mnesia.erl">>,
  <<"src/observer_cli_plugin.erl">>,<<"src/observer_cli_port.erl">>,
  <<"src/observer_cli_process.erl">>,<<"src/observer_cli_store.erl">>,
  <<"src/observer_cli_system.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/zhongwencool/observer_cli">>}]}.
{<<"name">>,<<"observer_cli">>}.
{<<"requirements">>,
 [{<<"recon">>,
   [{<<"app">>,<<"recon">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~>2.5.1">>}]}]}.
{<<"version">>,<<"1.6.1">>}.
