.eunit
deps
*.o
*.beam
*.plt
*.swp
erl_crash.dump
ebin/*
rel/example_project
.concrete/DEV_MODE
.rebar
.erlang.mk/
!data/app.etcd.config
ekka.d
Mnesia*
logs/
.DS_Store
cover/
ct.coverdata
ebin/test
eunit.coverdata
test/ct.cover.spec
log/
.erlang.mk/
erlang.mk
ekka.d
_build/
.rebar3/
rebar.lock
