{<<"name">>,<<"rebar3_neotoma_plugin">>}.
{<<"version">>,<<"0.2.0">>}.
{<<"app">>,<<"rebar3_neotoma_plugin">>}.
{<<"requirements">>,[{<<"neotoma">>,<<"1.7.3">>}]}.
{<<"maintainers">>,[<<"Oleg Tsarev">>,<<"Tristan Sloughter">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Neotoma rebar plugin">>}.
{<<"files">>,
 [{<<"src/rebar3_neotoma_plugin.app.src">>,
   <<"{application,rebar3_neotoma_plugin,\n             [{description,\"Neotoma rebar plugin\"},\n              {vsn,\"0.2.0\"},\n              {registered,[]},\n              {applications,[kernel,stdlib,neotoma]},\n              {env,[]},\n              {modules,[rebar3_neotoma_plugin]},\n              {maintainers,[\"Oleg Tsarev\",\"Tristan Sloughter\"]},\n              {licenses,[\"Apache\"]},\n              {links,[{\"Github\",\n                       \"https://github.com/zamotivator/rebar3_neotoma_plugin\"}]}]}.\n">>},
  <<"src/rebar3_neotoma_plugin.erl">>,<<"src/rebar3_prv_neotoma_clean.erl">>,
  <<"src/rebar3_prv_neotoma_compile.erl">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"README.md">>,<<"LICENSE">>]}.
{<<"licenses">>,[<<"Apache">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/zamotivator/rebar3_neotoma_plugin">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
