{deps, [
  {eredis, {git, "https://hub.fastgit.org/fastdgiot/eredis", {tag, "1.2.3"}}},
  {poolboy, {git, "https://hub.fastgit.org/fastdgiot/poolboy.git", {branch, "1.5.1"}}}
]}.
{erl_opts, [warnings_as_errors,
            warn_export_all]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.

{edoc_opts, [{doclet, edown_doclet},
             {dialyzer_specs, all},
             {report_missing_type, true},
             {report_type_mismatch, true},
             {pretty_print, erl_pp},
             {preprocess, true}]}.
