{<<"app">>,<<"rebar3_proper">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Run PropEr test suites">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"priv/templates/prop.erl.tpl">>,
  <<"priv/templates/prop_fsm.erl.tpl">>,
  <<"priv/templates/prop_statem.erl.tpl">>,
  <<"priv/templates/proper.template">>,
  <<"priv/templates/proper_fsm.template">>,
  <<"priv/templates/proper_statem.template">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/rebar3_proper.app.src">>,
  <<"src/rebar3_proper.erl">>,<<"src/rebar3_proper_prv.erl">>]}.
{<<"licenses">>,[<<"BSD">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/ferd/rebar3_proper">>},
  {<<"PropEr">>,<<"http://proper.softlab.ntua.gr/">>}]}.
{<<"name">>,<<"rebar3_proper">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.12.1">>}.
