{<<"name">>,<<"rebar3_proper">>}.
{<<"version">>,<<"0.11.1">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"rebar3_proper">>}.
{<<"maintainers">>,[<<"Fred Hebert">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Run PropEr test suites">>}.
{<<"files">>,
 [<<"src/rebar3_proper.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"priv/templates/prop.erl.tpl">>,<<"priv/templates/prop_fsm.erl.tpl">>,
  <<"priv/templates/prop_statem.erl.tpl">>,
  <<"priv/templates/proper.template">>,
  <<"priv/templates/proper_fsm.template">>,
  <<"priv/templates/proper_statem.template">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/rebar3_proper.erl">>,
  <<"src/rebar3_proper_prv.erl">>]}.
{<<"licenses">>,[<<"BSD">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://hub.fastgit.org/ferd/rebar3_proper">>},
  {<<"PropEr">>,<<"http://proper.softlab.ntua.gr/">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
