{emqx_management, true}.
{emqx_recon, true}.
{emqx_retainer, true}.
{emqx_dashboard, {{enable_plugin_emqx_dashboard}}}.
{emqx_rule_engine, {{enable_plugin_emqx_rule_engine}}}.
{emqx_cube, {{enable_plugin_emqx_cube}}}.