{emqx_management, true}.
{emqx_dashboard, true}.
{emqx_modules, {{enable_plugin_emqx_modules}}}.
{emqx_recon, {{enable_plugin_emqx_recon}}}.
{emqx_retainer, {{enable_plugin_emqx_retainer}}}.
{emqx_telemetry, {{enable_plugin_emqx_telemetry}}}.
{emqx_rule_engine, {{enable_plugin_emqx_rule_engine}}}.
{emqx_bridge_mqtt, {{enable_plugin_emqx_bridge_mqtt}}}.
{dgiot, {{enable_plugin_dgiot}}}.
{dgiot_parse, {{enable_plugin_dgiot_parse}}}.
{dgiot_api, {{enable_plugin_dgiot_api}}}.
{dgiot_bridge, {{enable_plugin_dgiot_bridge}}}.
{dgiot_tdengine, {{enable_plugin_dgiot_tdengine}}}.
{dgiot_device, {{enable_plugin_dgiot_device}}}.
{dgiot_task, {{enable_plugin_dgiot_task}}}.
{dgiot_http, {{enable_plugin_dgiot_http}}}.
{dgiot_topo, {{enable_plugin_dgiot_topo}}}.
{dgiot_bamis, {{enable_plugin_dgiot_bamis}}}.
{dgiot_dlink, {{enable_plugin_dgiot_dlink}}}.
{dgiot_evidence, {{enable_plugin_dgiot_evidence}}}.
{dgiot_ffmpeg, {{enable_plugin_dgiot_ffmpeg}}}.
{dgiot_opc, {{enable_plugin_dgiot_opc}}}.
{dgiot_meter, {{enable_plugin_dgiot_meter}}}.
{dgiot_modbus, {{enable_plugin_dgiot_modbus}}}.
{dgiot_hjt212, {{enable_plugin_dgiot_hjt212}}}.
{dgiot_bacnet, {{enable_plugin_dgiot_bacnet}}}.
{dgiot_factory, {{enable_plugin_dgiot_factory}}}.
{dgiot_printer, {{enable_plugin_dgiot_printer}}}.
{dgiot_location, {{enable_plugin_dgiot_location}}}.
{dgiot_atomgit, {{enable_plugin_dgiot_atomgit}}}.
