{emqx_management, true}.
{emqx_recon, true}.
{emqx_retainer, true}.
{emqx_dashboard, {{enable_plugin_emqx_dashboard}}}.
{emqx_rule_engine, {{enable_plugin_emqx_rule_engine}}}.
{emqx_cube, {{enable_plugin_emqx_cube}}}.
{shuwa_license, {{enable_plugin_shuwa_license}}}.
{shuwa_public, {{enable_plugin_shuwa_public}}}.
{shuwa_mqtt, {{enable_plugin_shuwa_mqtt}}}.
{shuwa_framework, {{enable_plugin_shuwa_framework}}}.
{shuwa_device_shadow, {{enable_plugin_shuwa_device_shadow}}}.
{shuwa_parse, {{enable_plugin_shuwa_parse}}}.
{shuwa_bridge,{{enable_plugin_shuwa_bridge}}}.
{shuwa_evidence, {{enable_plugin_shuwa_evidence}}}.
{shuwa_group, {{enable_plugin_shuwa_group}}}.
{shuwa_web_manager,{{enable_plugin_shuwa_web_manager}}}.
{shuwa_exproto,{{enable_plugin_shuwa_exproto}}}.
{shuwa_td, {{enable_plugin_shuwa_td}}}.
{shuwa_task,{{enable_plugin_shuwa_task}}}.
{shuwa_api,{{enable_plugin_shuwa_api}}}.
