{<<"app">>,<<"hex_core">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Reference implementation of Hex specifications">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.config.script">>,<<"rebar.lock">>,<<"src/hex_api.erl">>,
  <<"src/hex_api_auth.erl">>,<<"src/hex_api_key.erl">>,
  <<"src/hex_api_organization.erl">>,
  <<"src/hex_api_organization_member.erl">>,<<"src/hex_api_package.erl">>,
  <<"src/hex_api_package_owner.erl">>,<<"src/hex_api_release.erl">>,
  <<"src/hex_api_user.erl">>,<<"src/hex_core.app.src">>,
  <<"src/hex_core.erl">>,<<"src/hex_core.hrl">>,<<"src/hex_erl_tar.erl">>,
  <<"src/hex_erl_tar.hrl">>,<<"src/hex_filename.erl">>,<<"src/hex_http.erl">>,
  <<"src/hex_http_httpc.erl">>,<<"src/hex_pb_names.erl">>,
  <<"src/hex_pb_package.erl">>,<<"src/hex_pb_signed.erl">>,
  <<"src/hex_pb_versions.erl">>,<<"src/hex_registry.erl">>,
  <<"src/hex_repo.erl">>,<<"src/hex_tarball.erl">>,
  <<"src/safe_erl_term.xrl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/hexpm/hex_core">>},
  {<<"Hex specifications">>,<<"https://github.com/hexpm/specifications">>}]}.
{<<"name">>,<<"hex_core">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.7.1">>}.
