{erl_opts, [
    debug_info,
    {platform_define, "^19", 'OTP_19'}
]}.
{gpb_opts, [
    {i, "proto"},
    {o_erl, "src"},
    {o_hrl, "src"},
    {verify, always},
    {strings_as_binaries, true},
    {maps, true},
    {maps_unset_optional, omitted},
    {report_warnings, true},
    {target_erlang_version, 17}
]}.
{profiles, [
    {dev, [
        {plugins, [
            {rebar3_gpb_plugin, "2.12.0"}
        ]},
        {provider_hooks, [
            {pre, [
                {compile, {protobuf, compile}},
                {clean, {protobuf, clean}}
            ]}
        ]}
    ]},
    {test, [
        {erl_opts, [nowarn_export_all]},
        {ct_opts, [{create_priv_dir, auto_per_tc},
                   {config, "test/ct.config"}]},
        {plugins, [
            rebar3_proper
        ]},
        {deps, [
            {proper, {git, "git://github.com/proper-testing/proper", {tag, "v1.3"}}}
        ]},
        {extra_src_dirs, ["test/support"]}
    ]},
    {docs, [
        {deps, [{edown, "0.8.1"}]},
        {edoc_opts, [
            {doclet, edown_doclet},
            {preprocess, true},
            {dir, "doc"},
            {subpackages, true}]}
    ]}
]}.

{post_hooks, [{edoc, "doc/build.sh"}]}.
