{minimum_otp_vsn, "21.0"}.

{erl_opts, [debug_info,
            warn_export_all,
            warn_unused_import
           ]}.

{deps, [
		{cowlib, {git, "https://github.com/ninenines/cowlib", {tag, "2.6.0"}}},
		{gun, {git, "https://github.com/ninenines/gun", {tag, "1.3.0"}}},
        {getopt, "1.0.1"}]}.

{escript_name, emqtt_cli}.
{escript_main_app, emqtt}.
{escript_incl_apps, [getopt,gun,cowlib]}.
{escript_emu_args, "%%! -smp true +K true +A 16 +P 200000 -env ERL_MAX_PORTS 100000 -env ERTS_MAX_PORTS 100000\n"}.
{escript_shebang, "#!/usr/bin/env escript\n"}.

{profiles,
    [{test,
        [{deps,
            [{meck, "0.8.13"}, % hex
             {emqx, {git, "https://github.com/emqx/emqx", {branch, "master"}}}, % git
             {emqx_auth_username, {git, "https://github.com/emqx/emqx-auth-username", {branch, "master"}}},
             {emqx_ct_helpers, {git, "https://github.com/emqx/emqx-ct-helpers", {tag, "1.2.1"}}}
            ]},
         {erl_opts, [debug_info]}
        ]},
     {escript, 
        [{post_hooks, 
            [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/emqtt_cli\" ./emqtt_cli"},
             {"win32",
               escriptize,
               "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ emqtt_cli* "
               "/njs /njh /nfl /ndl & exit /b 0"}
            ]}
        ]}
    ]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{xref_checks, [undefined_function_calls]}.

{dialyzer_base_plt_apps,
 [kernel,
  stdlib,
  erts,
  sasl,
  ssl,
  syntax_tools,
  compiler,
  crypto]}.


