{deps, []}.
{erl_opts, [debug_info, warnings_as_errors]}.
{cover_enabled, true}.

{pre_hooks,
  [{"(linux|solaris|dragonfly|darwin|gnu|win32)", clean, "make"},
   {"(freebsd|netbsd|openbsd)", clean, "gmake"}]}.

{post_hooks,
  [{"(linux|solaris|dragonfly|darwin|gnu|win32)", clean, "make clean"},
   {"(freebsd|netbsd|openbsd)", clean, "gmake clean"}]}.
