{plugins, [rebar3_proper]}.

{deps, []}.

{erl_opts, [debug_info, warnings_as_errors]}.

{xref_warnings,true}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls, deprecated_functions]}.

{cover_enabled, true}.

{pre_hooks,
  [{"(linux|solaris|dragonfly|darwin|gnu|win32)", compile, "make compile-priv"},
   {"(freebsd|netbsd|openbsd)", compile, "gmake compile-priv"}]}.

{post_hooks,
  [{"(linux|solaris|dragonfly|darwin|gnu|win32)", clean, "make priv-clean"},
   {"(freebsd|netbsd|openbsd)", clean, "gmake priv-clean"}]}.

{profiles,
 [{test,
   [{erl_opts, [export_all, nowarn_export_all]},
    {deps,
     [{proper, "1.3.0"}]}
   ]}
 ]}.
