{<<"app">>,<<"gpb">>}.
{<<"build_tools">>,[<<"rebar">>,<<"make">>]}.
{<<"description">>,
 <<"A compiler for Google protocol buffer definitions files for Erlang.">>}.
{<<"files">>,
 [<<"src">>,<<"src/gpb_gen_encoders.erl">>,<<"src/gpb_compile.hrl">>,
  <<"src/gpb_parse.yrl">>,<<"src/gpb_gen_nif.erl">>,<<"src/gpb_names.erl">>,
  <<"src/gpb_defs.erl">>,<<"src/gpb_gen_types.erl">>,
  <<"src/gpb_gen_translators.erl">>,<<"src/gpb_compile.erl">>,
  <<"src/gpb_gen_mergers.erl">>,<<"src/gpb_decoders_lib.hrl">>,
  <<"src/gpb_lib.erl">>,<<"src/gpb_codegen.hrl">>,
  <<"src/gpb_codemorpher.erl">>,<<"src/gpb_codegen.erl">>,
  <<"src/gpb_analyzer.erl">>,<<"src/gpb_gen_introspect.erl">>,
  <<"src/gpb_gen_verifiers.erl">>,<<"src/gpb_decoders_lib.erl">>,
  <<"src/gpb_gen_decoders.erl">>,<<"src/gpb.app.src">>,
  <<"src/gpb_gen_json_decoders.erl">>,<<"src/gpb_scan.xrl">>,
  <<"src/gpb.erl">>,<<"src/gpb_gen_json_encoders.erl">>,<<"include">>,
  <<"include/gpb_version.hrl">>,<<"include/gpb.hrl">>,<<"descr_src">>,
  <<"descr_src/gpb_compile_descr.erl">>,
  <<"descr_src/gpb_compile_descr_tests.erl">>,<<"priv">>,<<"priv/proto3">>,
  <<"priv/proto3/google">>,<<"priv/proto3/google/protobuf">>,
  <<"priv/proto3/google/protobuf/type.proto">>,
  <<"priv/proto3/google/protobuf/duration.proto">>,
  <<"priv/proto3/google/protobuf/wrappers.proto">>,
  <<"priv/proto3/google/protobuf/descriptor.proto">>,
  <<"priv/proto3/google/protobuf/struct.proto">>,
  <<"priv/proto3/google/protobuf/source_context.proto">>,
  <<"priv/proto3/google/protobuf/api.proto">>,
  <<"priv/proto3/google/protobuf/any.proto">>,
  <<"priv/proto3/google/protobuf/field_mask.proto">>,
  <<"priv/proto3/google/protobuf/timestamp.proto">>,
  <<"priv/proto3/google/protobuf/empty.proto">>,<<"bin">>,
  <<"bin/protoc-erl">>,<<"build">>,<<"build/mk_version_hrl">>,
  <<"build/prepend_edoc_autogenerated">>,<<"build/compile_descriptor">>,
  <<"COPYING.LIB">>,<<"README.md">>,<<"README.nif-cc">>,
  <<"rebar.config.script">>,<<"ChangeLog">>,<<"Makefile">>]}.
{<<"licenses">>,[<<"LGPL 2.1">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/tomas-abrahamsson/gpb">>}]}.
{<<"name">>,<<"gpb">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"4.11.2">>}.
