{<<"app">>,<<"recon">>}.
{<<"build_tools">>,[<<"mix">>,<<"rebar3">>]}.
{<<"description">>,<<"Diagnostic tools for production use">>}.
{<<"files">>,
 [<<"src/recon.app.src">>,<<"LICENSE">>,<<"README.md">>,<<"mix.exs">>,
  <<"rebar.lock">>,<<"script/app_deps.erl">>,
  <<"script/erl_crashdump_analyzer.sh">>,<<"script/queue_fun.awk">>,
  <<"src/recon.erl">>,<<"src/recon_alloc.erl">>,<<"src/recon_lib.erl">>,
  <<"src/recon_map.erl">>,<<"src/recon_rec.erl">>,<<"src/recon_trace.erl">>]}.
{<<"licenses">>,[<<"BSD">>]}.
{<<"links">>,
 [{<<"Documentation">>,<<"http://ferd.github.io/recon/">>},
  {<<"Github">>,<<"https://github.com/ferd/recon/">>}]}.
{<<"name">>,<<"recon">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"2.5.0">>}.
