{mode, max}.
%{mode, {rate, 5}}.

{duration, 15}.

{concurrent, 30}.

{driver, basho_bench_driver_eredis}.

{code_paths, ["../eredis/ebin"]}.

{operations, [{pipeline_get,100}, {pipeline_put,1}]}.

{key_generator, {uniform_int, 10000}}.

{value_generator, {function, basho_bench_driver_eredis, value_gen, []}}.
%{value_generator, {fixed_bin, 1}}.
