[Unit]
Description=gofastdfs server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/data/dgiot/go_fastdfs/file /data/dgiot/go_fastdfs
WorkingDirectory=/data/dgiot/go_fastdfs
Environment=GO_FASTDFS_DIR=/data/dgiot/go_fastdfs
KillMode=mixed
KillSignal=SIGINT
TimeoutSec=300
OOMScoreAdjust=-1000
TimeoutStopSec=1000000s
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TimeoutStartSec=0
StandardOutput=null
Restart=always
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
