%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang noet

{erl_opts, [warnings_as_errors, warn_export_all, warn_unused_import]}.

{cover_enabled, false}.

%% == xref ==

%% Enable xref warnings.
{xref_warnings, true}.

%% xref checks to run
{xref_checks, [undefined_function_calls]}.
