{<<"name">>,<<"coveralls">>}.
{<<"version">>,<<"2.2.0">>}.
{<<"requirements">>,
 #{<<"jsx">> =>
       #{<<"app">> => <<"jsx">>,<<"optional">> => false,
         <<"requirement">> => <<"2.10.0">>}}}.
{<<"app">>,<<"coveralls">>}.
{<<"maintainers">>,[<<"Markus Ekholm">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Coveralls for Erlang">>}.
{<<"files">>,
 [<<"src/coveralls.app.src">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.config.script">>,<<"rebar.lock">>,<<"src/coveralls.erl">>,
  <<"src/rebar3_coveralls.erl">>]}.
{<<"licenses">>,[<<"BSD">>]}.
{<<"links">>,[{<<"Github">>,<<"https://hub.fastgit.org/markusn/coveralls-erl">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
