{deps, [{jsx, "2.10.0"}]}.
{profiles, [{test, [{plugins, [{coveralls, {git, "https://hub.fastgit.org/markusn/coveralls-erl", {branch, "master"}}}]}]}]}.
{cover_enabled          , true}.
{cover_export_enabled   , true}.
{coveralls_coverdata    , "_build/test/cover/eunit.coverdata"}. % or a string with wildcards or a list of files
{coveralls_service_name , "travis-ci"}.
{coveralls_parallel, true}.
